.whatsapp-float {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 1000; /* Asegura que el botón esté siempre por encima de otros elementos */
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .whatsapp-float {
        width: 50px;
        height: 50px;
        bottom: 15px;
        left: 15px;
    }
}

@media (max-width: 480px) {
    .whatsapp-float {
        width: 45px;
        height: 45px;
        bottom: 10px;
        left: 10px;
    }
}
